
:root {
    --primary: #CD9502;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
    --fuente-prueba: 'Poppis', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    font-size: 2rem;
    font-family: var(--fuente-prueba);
    line-height: 1.5;
}

img {
    max-width: 100%;
}
h2 {
    text-align: center;
}

header {
    background-image: linear-gradient(to right, rgb(0 0 0/ .7), rgb(0 0 0 / .7)), url(../images/barber__header.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;
    position: relative;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    width: 40rem;
}
.header__text {
    width: 80rem;
    color: var(--blanco);
    display: inline-block;
    font-weight: 200;
}

.navegacion {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}

ul {
    list-style: none;
}

.navegacion__enlace {
    color: var(--blanco);
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5rem;
    font-size: 1.4rem;
    font-weight: 200;
    transition-property: background-color;
    transition-duration: .3s;
}

.navegacion__enlace:hover {
    background-color: var(--primary);
    border-radius: 5rem;
}

.modelo_turnos {
    color: var(--primary);
    margin-top: 5rem;
    text-align: center;
}

.modelo__nombre {
    font-size: 5rem;
    color: var(--primary);
}

.modelo__parrafo {
    font-size: 6rem;
    color: var(--primary);
    line-height: 0;
}

.modelo__enlace {
    margin-top: 2rem;
    text-decoration: none;
    padding: 1rem 5rem;
    border: 2px solid var(--primary);
    border-radius: 5rem;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: .3s;
}

.modelo__enlace:hover {
    background-color: var(--primary);
}

.img__servicios {
    height: 50rem;
    border-radius: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 15rem;
}
.img__servicios-cortes {
    width: 5rem;
    margin-left: 4rem;
}
.img__productos {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.container__servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( rgb(0 0 0/ .7), rgb(0 0 0 / .7)), url(../images/servicios/joven-peluqueria-corte-pelo.jpg);
}

.container__servicios-parrafo {
    width: 42%;
}

.container__productos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container__prod-card {
    display: flex;
    padding: 1rem;
}

/* PRUEBA DOS CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 1rem;
    padding-bottom: 10rem;
    margin-left: 12rem;
}
.card {
    flex: 0  200px;
    margin: 25px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    background: linear-gradient(to bottom left, #000000 30%, #534f4b 100%);
    position: relative;
}
.card:hover {
    transform: scale(1.1);
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
    color: #ccc;
    font-size: 1rem;
}

.card .text>button {
    background: gray;
    border-radius: 5rem;
    color: white;
    padding: 10px;
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.card__servicios-parrafo {
    font-size: 13px;
}
.cards__servicios {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-left: 2rem;
    color: var(--blanco);
}
.card__servicios {
    flex: 0 0 150px;
    margin: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    background: rgba(144, 135, 135, 0.3);
}
